* {
    box-sizing: border-box;
}   
body {font-family:'Courier New', Courier, monospace;
     background-color: sandybrown;}
h1 {padding: 10px;
    margin: auto;
    font-size: 50px;
    color:rgb(0, 0, 0)
}
h2 {padding: 10px;
    margin: auto;
    font-size: 30px;
    color:rgb(0, 0, 0)}
h3 {padding: 10px;
    margin: auto;
    font-size: 25px;
    color:rgb(0, 0, 0)
}
p {padding: 10px;
    margin: auto;
    font-size: 20px;
    color:rgb(0, 0, 0)
}
section {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #000000;
    border-radius: 16px;
    padding: 16px;
    margin: 32px auto;
    max-width: 800px;
}
main {
    width: auto;
    margin: auto;
    padding: 16px;
}
ul {padding: 10px;
     margin: 20px;
      font-size: 15px;
       color: var(--secondary-color)
    }
.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 16px;
    background-color: var(--accent-color);
    border-bottom: 2px solid #000000;
}
.nav-item {
    margin: 0 16px;
    font-size: 18px;
    font-weight: medium;
    color: var(--primary-color);
    background-color: brown;
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 8px 16px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.nav-item:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
}
.slider-wrapper {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}
.slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: contain;
}
.collection-grid {
    margin: 48px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.collection-card {
    border: 3px solid rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 16px;
    flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 1;
}

.collection-card img {
    width: 100%;
    height: auto;
    display: block;
    border: 5px solid rgb(0, 0, 0);
    margin-bottom: 20px;
}

.collection-card h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 8px;
    line-height: 1.2;
}

.collection-card .details {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 16px;
    font-style: italic;
}

.collection-card .description {
    font-size: 16px;
    font-style: italic;
    margin-bottom: 0;
    line-height: 2;
}
@media (width >= 480px) {
    .collection-card {
        flex-basis: 45%;
    }
}
@media (width >= 1024px) {
    .collection-card {
        flex-basis: 30%;
    }
}